.img-user {
position: relative;
top:50px;
left:200px;
}

.img-TOASTS{
  width: 800px;
position: relative;
top:100px;
left:30px;
}

.img-toasts2{
  width: 800px;
position: relative;
top:120px;
left:290px;
}
